<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>No Language Model</title>
  <link rel="icon" href="static/favicon.png" />
  <link href="static/main.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org@1.9.2"
    integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
    crossorigin="anonymous"></script>
  <script>
    htmx.on("htmx:sendError", function (evt) {
      window.alert("Error sending request");
    });
    htmx.on("htmx:timeout", function (evt) {
      window.alert("Connection timed out");
    });
  </script>
</head>

<body class="fullpage">
  <header class="header">
    <h1 class="sitetitle">The Washed Up Post</h1>
    <button hx-get="/generate" hx-target="#content" hx-swap="innerHTML show:window:top">New Article</button>
  </header>
  <div class="main" id="content" hx-get="/generate" hx-trigger="load">
  </div>
  <footer class="footer"><a href="/about">About</a></footer>
</body>

</html>